{% extends 'default.html' %}
{% load i18n %}

{% block content %}
<h2>{% trans "Welcome" %} {{request.user.username.title}}!</h2>
<h5>{% trans "You have successfully logged in to our website" %}.</h5>
<hr>
{% if is_not_author %}
    <div> {% trans "To be able to add your publications, log in as an author" %}! ->
    <button> <a href="sign/upgrade/"> {% trans "Become an author" %} </a> </button>
    </div>
{% else %}
<h6> {% trans "Attention!!! When you delete from the Authors group, all your publications are automatically deleted" %}! </h6>
    <button> <a href="sign/log_out_author/"> {% trans "Exit the Authors group" %} </a> </button>

{% endif %}

<hr>
{% trans "To edit the profile, click" %} ->
<button> <a href="sign/profile_update/">{% trans "Edit Profile" %}</a> </button>
<hr>
{% trans "Log Out" %} ->
<button> <a href="sign/logout/">{% trans "Exit" %}</a> </button>
{% endblock %}
