<!--  наследуемся от шаблона default.html -->
{% extends 'default.html' %}
{% load custom_filters %}
{% load i18n %}

{% block title %}
{{ post.title|censor }}
{% endblock title %}

<!-- В контенте на странице мы выводим саму статью, идентификатор которого был передан в url -->
{% block content %}
    <h3>{{ post.title|censor }}</h3>
    <hr>
    | <b>{% trans "Date of publication" %}:</b> {{ post.dateCreation|date:'d M Y' }} |

    <b>{% trans "Type" %}:</b>
        {% if post.categoryType == 'NW' %}
            {% trans "News" %} |
        {% elif post.categoryType == 'AR'  %}
            {% trans "Article" %} |
        {% endif %}
    <b>{% trans "Category" %}:</b>
    {% for cat in post.postCategory.all %}
        "{{ cat }}",
    {% endfor %}
    | <b>{% trans "Rating" %}:</b> {{ post.rating}} |
    <hr>
        <p align="justify">{{ post.text|censor }}</p>
    <hr>
    {% if post.categoryType == 'NW' %}
        <a href="{% url 'news_edit' post.id %}" class="btn btn-warning" role="button">{% trans 'Edit news' %}</a>
        |
        <a href="{% url 'news_delete' post.id %}" class="btn btn-danger" role="button">{% trans 'Delete news' %}</a>
    {% elif post.categoryType == 'AR' %}
        <a href="{% url 'articles_edit' post.id %}" class="btn btn-warning" role="button">{% trans 'Edit article' %}</a>
        |
        <a href="{% url 'articles_delete' post.id %}" class="btn btn-danger" role="button">{% trans 'Delete article' %}</a>
    {% endif %}

{% endblock content %}
