<!--  наследуемся от шаблона default.html -->
{% extends 'default.html' %}
{% load custom_filters %}
{% load i18n %}

{# Импортируем модуль с нашим тегом #}
{% load custom_tags %}

<!-- Название у нас будет News -->
{% block title %}
    {% trans "Posts" %}
{% endblock title %}

<!-- В контенте на странице мы выводим все посты -->
{% block content %}
    <h1>{% trans "All publications" %}</h1>
    <h3>{% current_time '%b %d %Y %H:%M' %}</h3>
    <hr>
    {% if posts %}
    <h2>{% trans "Publications on the page" %} - {{ posts|length }}</h2>
    {% else %}
        <h2>{% trans "There are no recent publications at the moment" %}!</h2>
    {% endif %}
    <hr>
    {% if posts %}
        <table>
            <tr>
                <td><b>{% trans "Date of publication" %}</b></td>
                <td><b>{% trans "Title" %}</b></td>
                <td><b>{% trans "Author" %}</b></td>
                <td><b>{% trans "Preview" %}</b></td>
                <td><b>{% trans "Category" %}</b></td>
                <td><b>{% trans "Rating" %}</b></td>
           </tr>

            {% for post in posts %}
            <tr>
                <td>{{ post.dateCreation|date:'d M Y' }}</td>
                <td><a href="/news/{{ post.id }}">{{ post.title|censor }}</a></td>
                <td>{{ post.author }}</td>
                <td>{{ post.text|truncatewords:20|censor }}</td>
                <td>{% for cat in post.postCategory.all %}
                        <<a href="/news/categories/{{ cat.id }}">{{ cat }}</a>>
                    {% endfor %}
                </td>
                <td>{{ post.rating }}</td>
            </tr>
            {% endfor %}

        </table>
    {% else %}
        <h2>{% trans "It seems there is nothing interesting yet" %}!</h2>
    {% endif %}

    {# Добавляем пагинацию на страницу #}
    {# Информация о предыдущих страницах #}
    {% if page_obj.has_previous %}
        {# Для каждой ссылки пагинации указываем обработку через новый тег #}
        <a href="?{% url_replace page=1 %}">1</a>
        {% if page_obj.previous_page_number != 1 %}
            ...
            <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}

    {# Информация о текущей странице #}
    {{ page_obj.number }}

    {# Информация о следующих страницах #}
    {% if page_obj.has_next %}
        <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}

{% endblock content %}
