{% extends 'default.html' %}
{% load custom_filters %}
{% load custom_tags %}


{% block title %}
Search
{% endblock title %}

{% block content %}

    <h3>Поиск публикаций</h3>
    <h4>Текущая дата: {% current_time '%d %B %Y' %}</h4>
    <hr>
    <form method="GET">
        {{ filter.form }}
        <hr>
        <p><input type="submit" value="Найти"></p>
    </form>
    {% if filter.qs  %}
        <h3>
            {% if filter.qs|length > 1 %}
                {{ filter.qs|length }} - posts found
            {% elif filter.qs|length == 1 %}
                Only 1 post found
            {% endif %}
        </h3>
        <table>
            <tr>
                <td><b>Название</b></td>
                <td><b>Тип</b></td>
                <td><b>Дата публикации</b></td>
                <td><b>Автор</b></td>
                <td><b>Краткое содержание</b></td>
                <td><b>Рейтинг</b></td>
                <td><b>Категория</b></td>
           </tr>

            {% for post in search_list %}
            <tr>
                <td><a href="/news/{{ post.id }}">{{ post.title|censor }}</a></td>
                <td>{% if post.categoryType == 'NW' %}
                        Новость
                    {% elif post.categoryType == 'AR'  %}
                        Статья
                    {% endif %}
                </td>
                <td>{{ post.dateCreation|date:'d M Y' }}</td>
                <td>{{ post.author }}</td>
                <td>{{ post.text|truncatewords:20|censor }}</td>
                <td>{{ post.rating }}</td>
                <td>{% for cat in post.postCategory.all %}
                        <<a href="/news/categories/{{ cat.id }}">{{ cat }}</a>>
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}

        </table>
    {% else %}
        <h2>По таким критериям постов нет!</h2>
    {% endif %}

    {% if page_obj.has_previous %}
        <a href="?{% url_replace page=1 %}">1</a>
        {% if page_obj.previous_page_number != 1 %}
            ...
            <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}

    {{ page_obj.number }}

    {% if page_obj.has_next %}
        <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}

{% endblock content %}
