<!--  наследуемся от шаблона default.html -->
{% extends 'default.html' %}
{% load custom_filters %}
{% load i18n %}

{% block title %}
{{ post.title|censor }}
{% endblock title %}

<!-- В контенте на странице мы выводим саму статью, идентификатор которого был передан в url -->
{% block content %}
    <h3>{{ post.title|censor }}</h3>
    <hr>
    <b>{% trans "Date of publication" %}:</b> {{ post.dateCreation|date:'d M Y' }}
    <b>{% trans "Author" %}:</b> {{ post.author}}
    <b>{% trans "Category" %}:</b>
    {% for cat in post.postCategory.all %}
        "{{ cat }}",
    {% endfor %}
    <b>{% trans "Rating" %}:</b> {{ post.rating}}
    <hr>
    {{ post.text|censor }}

{% endblock content %}
