{% extends 'default.html' %}
{% load custom_filters %}
{% load custom_tags %}


{% block title %}
Search
{% endblock title %}

{% block content %}
    <h1>Поиск публикаций</h1>
    <h4>Текущая дата: {% current_time '%d %B %Y' %}</h4>
    <hr>
    <form method="GET">
        {{ filter.form }}

    <input type="submit" value="Найти">
    </form>
    {% if posts %}
        <table>
            <tr>
                <td><b>Название</b></td>
                <td><b>Дата публикации</b></td>
                <td><b>Автор</b></td>
                <td><b>Краткое содержание</b></td>
                <td><b>Рейтинг</b></td>
           </tr>

            {% for post in search.qs %}
            <tr>
                <td>{{ post.title|censor }}</td>
                <td>{{ post.dateCreation|date:'d M Y' }}</td>
                <td>{{ post.author }}</td>
                <td>{{ post.text|truncatewords:20|censor }}</td>
                <td>{{ post.rating }}</td>
            </tr>
            {% endfor %}

        </table>
    {% else %}
        <h2>По этим критериям ничего не найдено</h2>
    {% endif %}

    {% if page_obj.has_previous %}
        <a href="?{% url_replace page=1 %}">1</a>
        {% if page_obj.previous_page_number != 1 %}
            ...
            <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}

    {{ page_obj.number }}

    {% if page_obj.has_next %}
        <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}

{% endblock content %}
